body{
    background-image: url(bg.jpg);
    background-attachment: fixed;
    background-repeat:no-repeat;
}
.container{
    color: white;
}
.P3{
    padding: 70px;
    margin-bottom: 40px;
}
.texte{
    text-align: right;
    padding: 40px;
    margin-top: -160px;
    margin-right: 50px;
    font-size: 20px;
    word-spacing: 20px;
}
hr{
    width: 1200px;
}
.title{
    color: white;
    text-align: center;
    padding: 60px;
}

p{
    opacity: 0.4;
}
.block1{
    color: white;
    border-right: 1.5px grey solid;
    padding: 0px 60px 0px 60px; 
    margin-right: 80px;  
}
.block2{
    color: white;
    border-right: 1.5px grey solid;
    padding: 0px 60px 0px 60px;
    margin-right: 90px;
}
.block3{
    color: white;
    padding: 0px 60px 0px 60px;
    margin-right: -190px;
}
.bloc{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ana{
    margin-left: -25px;
    border-right: 2px grey;
    border-left: 2px grey;
}
.dev{
    margin-left: -30px;
  
}
.deb{
    margin-left: -30px;
}
.get{
    color: #27ae60;
    border: 2px #27ae60 solid; width: 100px;
    border-radius: 35px;
    margin-left: 600px;
    margin-top: 90px;
    padding: 10px;
    text-align: center;
    box-shadow: 2px #27ae60 ;
}
@media screen and (max-width: 980px){
    .block1, .block2, .block3{
        margin: 20px;
        padding: 0px;
        border: 0px;
    }
    .P3{
        margin: 0px;
        padding: 20px;
        margin-bottom: -110px;
    }
    .texte{
        margin: 30px;
        flex-direction: column;
        word-spacing: 2px;
    }
    hr{
        margin: 0px;
        padding: 0px;
    }
    .get{
        margin: 0px;
        padding: 10px;
        margin-left: 170px;
        margin-top: 30px;
        border-radius: 35px;
    }
    p{
        margin: 10px;
    }
    hr{
        width:300px;
        justify-content: center;
        margin-left: 90px;
    }

}
